{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 mx-auto">
        <div class="quiz-page-header">
            <img src="/static/images/quizards-text-logo.webp" alt="Quizards text logo">
            <div>
                <img src="/static/images/quizzard-img.webp" alt="Quizard character">
            </div>
        </div>
    </div>
    <div class="box-element question-card mx-auto">
        <h2 class="welcome-header">Sign up</h2>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning large-btn">Sign up</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}