{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 mx-auto">
        <div class="quiz-page-header">
            <img src="/static/images/quizards-text-logo.webp" alt="Quizards text logo">
            <div>
                <img src="/static/images/quizzard-img.webp" alt="Quizard character">
            </div>
        </div>
    </div>
    <div class="box-element question-card mx-auto">
        <h2 class="welcome-header">Registration Success!</h2>
        <br>
        <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
    </div>
</div>
{% endblock %}