body {
	background-color: hsl(0, 5%, 91%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: hsl(0, 0%, 30%);
}

.box-element {
	border: solid 1px rgb(0, 119, 255);
	box-shadow: hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail {
	width: 100%;
	height: fit-content;
}

.bg-dark {
	background-color: #333333 !important;
}

.nav-link {
	color: #FFFFFF !important;
}

.nav-link:hover {
	border-bottom: 1px solid #FFFFFF;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
	margin-top: 10px;
}

.btn {
	border-radius: 5px;
}

.btn-warning {
	background-color: #FFEA00 !important;
}

.row-image {
	width: 100px;
}

.form-field {
	width: 250px;
	display: inline-block;
	padding: 5px;
}

.hidden {
	display: none !important;
}

.user-status {
	color: #ffffff !important;
}

.btn-signup {
	border: 2px solid rgb(35, 35, 35);
}

.helptext {
	visibility: hidden;
}

.question-card {
	margin-bottom: 20px;
}

.quiz-page-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: auto;
}

.welcome-header {
	font-size: x-large;
	color: #333333;
}

.start-btn {
	display: flex;
	justify-content: center;
}

.large-btn {
	padding: 0.75em 1em;
	font-size: larger;
}

.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.33);
}

.login-page {
	min-width: 75%;
}

.form-buttons {
	display: flex;
	justify-content: center;
}

.login-message-button {
	display: flex;
	justify-content: center;
}

.scores-center{
	display: flex;
	justify-content: center;
}