{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="quiz-page-header">
            <img src="/static/images/quizards-text-logo.webp" alt="Quizards text logo">
            <div>
                <img src="/static/images/quizzard-img.webp" alt="Quizard character">
            </div>
        </div>
        <div class="box-element question-card mx-auto ">
            
            <form method="post" id="quiz-form">
                {% csrf_token %}
                {% for question in questions %}
                    <div class="question">
                        <p>{{ forloop.counter }}. <strong>{{ question.question }}</strong></p>
                        <input type="radio" name="q{{ forloop.counter }}" value="A" id="q{{ forloop.counter }}-A">
                        <label for="q{{ forloop.counter }}-A">A) {{ question.option_a }}</label><br>
                        <input type="radio" name="q{{ forloop.counter }}" value="B" id="q{{ forloop.counter }}-B">
                        <label for="q{{ forloop.counter }}-B">B) {{ question.option_b }}</label><br>
                        <input type="radio" name="q{{ forloop.counter }}" value="C" id="q{{ forloop.counter }}-C">
                        <label for="q{{ forloop.counter }}-C">C) {{ question.option_c }}</label><br>
                        <input type="radio" name="q{{ forloop.counter }}" value="D" id="q{{ forloop.counter }}-D">
                        <label for="q{{ forloop.counter }}-D">D) {{ question.option_d }}</label>
                    </div>
                    <hr>
                {% endfor %}

                <button type="submit">Submit</button>
            </form>

        </div>
    </div>

</div>

{% endblock content %}

<!-- {% if user.is_authenticated %}
			{% else %}
			{% endif %} -->