{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row scores-center">
    <div class="col-lg-8">
        <div class="quiz-page-header">
            <img src="/static/images/quizards-text-logo.webp" alt="Quizards text logo">
            <img src="/static/images/quizzard-img.webp" alt="Quizard character">
        </div>
        <div class="box-element question-card mx-auto">
            <h2 class="question-title">Leaderboard</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Correct Answers</th>
                        <th>Total Answers</th>
                        <th>Percentage Correct</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in scores %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.correct_answers }}</td>
                        <td>{{ user.total_answers }}</td>
                        <td>{{ user.percentage_correct|floatformat:0 }}%</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No scores available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
